@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');

body {
    background: rgb(35,32,79);
    background: linear-gradient(90deg, rgba(35,32,79,1) 0%, rgba(100,127,163,1) 76%, rgba(186,202,223,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
h1 {
    margin-top: 1rem;
    color: #BDD5EA;
    font-size: 4rem;
    font-weight: 700;
}
h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
h3 {
    font-size: 3rem;
    margin: 0.5rem;
}
button:focus{
    outline: none;
}
.choosingDiv {
    display: flex;
    flex-flow: column nowrap;
    button {
        margin: 0.5rem 3.5rem;
        padding: 1rem;
        width: 8rem;
        height: 8rem;
        border-radius: 0.5rem;
        background: #BDD5EA;
        font-weight: 700;
        font-size: 4.5rem;
        color: #495867;
    }
    button:hover{
        color: rgba(254, 96, 85, 0.938);
    }
}
.playingDiv {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    button {
        background: #BDD5EA;
        width: 10rem;
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        font-size: 1.8rem;
        color: #647fa3;
    }
}
.row {
    width: 24rem;
    margin: 1rem;
    align-self: center;
}
.cell {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgba(254, 96, 85, 0.938);
    border: 1.5px solid #647fa3;
    border-radius: 0.8rem;
    background: #BDD5EA;
}
.modal-content{
    padding-top: 2rem;
    margin-top: 7rem;
    border-radius: 0.8rem;
    background: rgba(189, 213, 234, 0.856);
    font-size: 5rem;
    font-weight: 700;
    animation: color-change 1s infinite;
    color: rgba(254, 96, 85, 1);
    .modal-footer{
        display: flex;
        justify-content: center;
        border: none;
        button {
            margin: 0.5rem 3.5rem;
            padding: 1rem;
            border-radius: 0.5rem;
            background: #647fa3;
            font-size: 1.5rem;
            color: #BDD5EA;
        }
    }
}
@keyframes color-change {
  0% { color: rgb(248, 112, 102); }
  50% { color: rgb(250, 40, 12); }
  100% { color: rgb(248, 112, 102); }
}